body {
  background: #0d1117;
  color: #e5e7eb;
  font-family: 'Merriweather', serif;
  margin: 0;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background: #111827;
}

h1 {
  font-size: 1.8rem;
  color: #f5e9a7;
}

.sub {
  color: #9ca3af;
  margin-top: .5rem;
}

nav {
  background: #000;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

nav a:hover, nav a.active {
  background: #facc15;
  color: #111;
}

main {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

footer {
  background: #111827;
  color: #9ca3af;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

.cargando {
  text-align: center;
  color: #888;
}
